@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @include retina-sprite(icon-name, $hover: true, $active: true); */
/* icon_name_hover & icon_name_active */
@font-face {
  font-family: 'uni_sans_heavy_italic';
  src: url("../fonts/uni_sans_heavy_italic.eot");
  src: url("../fonts/uni_sans_heavy_italic.eot") format("embedded-opentype"), url("../fonts/uni_sans_heavy_italic.woff2") format("woff2"), url("../fonts/uni_sans_heavy_italic.woff") format("woff"), url("../fonts/uni_sans_heavy_italic.ttf") format("truetype"), url("../fonts/uni_sans_heavy_italic.svg#uni_sans_heavy_italic") format("svg");
}
/* === Reset === */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 23px;
  font-size: 16px;
  color: #757575;
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 10px 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, input, textarea {
  outline: none;
}

a {
  color: #ef7f1a;
  text-decoration: underline;
}

a:hover {
  color: #ef7f1a;
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.clear {
  clear: both;
  display: block;
}

/* === Responsive grid === */
.clearfix:after, .container:after {
  content: '';
  clear: both;
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* === FORMS === */
.styler {
  background: 0;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  height: 42px;
  padding: 10px 15px;
  color: #000;
}
.styler.error {
  border-color: #ef7f1a;
}
.styler.success {
  border-color: #037703;
}
.styler:disabled {
  background: #fafafa;
  border-color: #f1f1f1;
  color: #bbb;
  cursor: default;
}
.styler:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.styler:focus {
  border-color: rgba(0, 0, 0, 0.55);
}

.inpf {
  margin: 0 0 20px;
}
.inpf .styler {
  width: 100%;
}
.inpf .errortxt {
  font-size: 12px;
  line-height: 14px;
  margin: 6px 15px 0;
  display: block;
  color: #ef7f1a;
  text-align: left;
}

.inpf-success {
  position: relative;
}
.inpf-success:before {
  content: '\f00c';
  display: block;
  position: absolute;
  right: -30px;
  top: 9px;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  font-size: 18px;
  color: #037703;
}

/* === Button === */
.btn {
  background: #EF7F1A;
  background: -moz-linear-gradient(left, #EF7F1A 0%, #E85222 100%);
  background: -webkit-linear-gradient(left, #EF7F1A 0%, #E85222 100%);
  background: linear-gradient(to right, #EF7F1A 0%, #E85222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from1', endColorstr='$to1',GradientType=1 );
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 42px;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 13px 25px;
}
.btn:hover {
  background: #ef7f1a;
  color: #fff;
}
.btn-border {
  color: #fff;
  background: 0;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  -moz-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
}
.btn-border:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input.btn {
  padding: 0 25px;
  height: 42px;
  line-height: 42px;
}

/* === HELPERS === */
.pagetitle {
  font-family: 'uni_sans_heavy_italic', sans-serif;
  font-size: 42px;
  text-transform: uppercase;
  color: #454545;
  font-weight: normal;
  line-height: 51px;
  margin: 0 0 40px;
}

.content {
  background: url(../images/pattern.png) center 0;
  padding: 100px 0;
}

.owl-prev, .owl-next {
  text-indent: -9999px;
}
.owl-prev.disabled, .owl-next.disabled {
  opacity: 0.35;
}

.owl-prev {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1070px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .owl-prev {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1070px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

.owl-next {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -519px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .owl-next {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -519px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

.owl-dots {
  text-align: center;
  margin: 30px 0 0;
}

.owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #e0e0e0;
  margin: 0 5px;
}

.owl-dot.active {
  background: #ef7f1a;
}

/* Header */
.header {
  position: relative;
  z-index: 1001;
}

.header .logobox {
  float: left;
  margin: 25px 50px 0 0;
}

.headText {
  float: left;
  font-weight: 700;
  line-height: 29px;
  font-size: 24px;
  color: #fff;
  margin: 36px 0 0;
}

.showNav {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 24px;
}
.showNav:before {
  content: '';
  display: block;
  position: absolute;
  height: 24px;
  width: 36px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -49px;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -18px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .showNav:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -49px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.showNav.opened:before {
  height: 29px;
  width: 30px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: -14px 0 0 -15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .showNav.opened:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 0;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

.btnTel {
  font-size: 18px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
  padding-left: 57px;
  position: relative;
}
.btnTel:before {
  content: '';
  display: block;
  position: absolute;
  height: 42px;
  width: 42px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -769px;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .btnTel:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -769px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.btnTel:hover {
  background: 0;
  -webkit-box-shadow: inset 0 0 0 2px white;
  -moz-box-shadow: inset 0 0 0 2px white;
  box-shadow: inset 0 0 0 2px white;
  color: #ef7f1a;
}
.btnTel:hover:before {
  height: 42px;
  width: 42px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -870px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .btnTel:hover:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -870px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

.headNav {
  float: right;
  margin: 31px 0 0;
}
.headNav .btn {
  float: left;
}
.headNav .btnTel {
  margin-right: 30px;
}
.headNav .js_callwin {
  margin-right: 60px;
}
.headNav .showNav {
  float: left;
  margin: 9px 0 0;
}

@media screen and (max-width: 1520px) {
  .headLogo {
    float: left;
    margin: 25px 0 0;
  }

  .header .logobox {
    float: none;
    margin: 0 0 15px;
  }

  .headText {
    float: none;
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    max-width: 250px;
  }
}
/* Navmenu */
.navmenu {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  font-family: 'uni_sans_heavy_italic', sans-serif;
  line-height: 39px;
  font-size: 28px;
  text-transform: uppercase;
  color: #ef7f1a;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.navmenu.opened {
  opacity: 1;
  visibility: visible;
}
.navmenu ul {
  display: block;
}
.navmenu li {
  margin: 0 0 30px;
}
.navmenu li:last-child {
  margin: 0;
}
.navmenu li a {
  display: inline-block;
  padding: 0 57px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.navmenu li a:before, .navmenu li a:after {
  content: none;
  display: none;
  position: absolute;
  top: 9px;
}
.navmenu li a:before {
  height: 18px;
  width: 11px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -669px;
  background-repeat: no-repeat;
  left: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .navmenu li a:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -669px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.navmenu li a:after {
  height: 18px;
  width: 11px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1032px;
  background-repeat: no-repeat;
  right: 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .navmenu li a:after {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1032px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.navmenu li:hover a {
  color: #ef7f1a;
}
.navmenu li.active a:before, .navmenu li.active a:after {
  content: '';
  display: block;
}

/* Firstscreen */
.firstScreen .header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px;
}
.firstScreen_box {
  background-position: center center;
  background-repeat: no-repeat;
  height: 900px;
  position: relative;
  padding-top: 386px;
}
.firstScreen_box:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.3);
}
.firstScreen_text {
  font-weight: 700;
  line-height: 39px;
  font-size: 28px;
  text-transform: uppercase;
  color: white;
  position: relative;
  z-index: 10;
}
.firstScreen_text h2 {
  font-family: 'uni_sans_heavy_italic', sans-serif;
  line-height: 68px;
  font-size: 48px;
  margin: 0 0 20px;
  max-width: 760px;
}
.firstScreen_text .txt {
  margin: 0 0 60px;
}
.firstScreen_text .btn {
  float: left;
  margin: 2px 0 0;
}
.firstScreen_text small {
  font-weight: 700;
  line-height: 28px;
  font-size: 20px;
  text-align: right;
  display: block;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  float: right;
  max-width: 420px;
}

#fs_slider .owl-prev, #fs_slider .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -13px;
}
#fs_slider .owl-prev {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1170px;
  background-repeat: no-repeat;
  left: 68px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #fs_slider .owl-prev {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1170px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
#fs_slider .owl-prev:hover {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1120px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #fs_slider .owl-prev:hover {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1120px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
#fs_slider .owl-next {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -619px;
  background-repeat: no-repeat;
  right: 68px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #fs_slider .owl-next {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -619px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
#fs_slider .owl-next:hover {
  height: 30px;
  width: 17px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -569px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #fs_slider .owl-next:hover {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -569px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
#fs_slider .owl-dots {
  display: none !important;
}

@media screen and (max-width: 1400px) {
  #fs_slider .owl-prev {
    left: 20px;
  }
  #fs_slider .owl-next {
    right: 20px;
  }
}
/* orderBtn */
.orderBtn {
  position: relative;
  line-height: 20px;
  padding: 16px 25px;
  padding-left: 62px;
  position: relative;
}
.orderBtn b {
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  left: 5px;
  top: 5px;
  background: #F39E51;
}
.orderBtn b:before {
  content: '';
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1318px;
  background-repeat: no-repeat;
  left: 10px;
  top: 11px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .orderBtn b:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1318px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

/* Advant */
.advantages {
  margin-bottom: 70px;
}

.advantages p {
  margin: 0 0 30px;
}

.advant {
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 270px;
  margin: 0 0 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.advant_name {
  position: absolute;
  left: 25px;
  bottom: 25px;
  right: 25px;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.advant_num {
  position: absolute;
  right: 25px;
  top: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
  text-transform: uppercase;
}
.advant_icon {
  position: absolute;
  left: 25px;
  top: 25px;
}
.advant_icon.ic1 {
  height: 42px;
  width: 31px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -163px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic1 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -163px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.advant_icon.ic2 {
  height: 34px;
  width: 41px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -225px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic2 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -225px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.advant_icon.ic3 {
  height: 43px;
  width: 43px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -279px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic3 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -279px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.advant_icon.ic4 {
  height: 43px;
  width: 42px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -342px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic4 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -342px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.advant_icon.ic5 {
  height: 43px;
  width: 45px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -405px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic5 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -405px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.advant_icon.ic6 {
  height: 31px;
  width: 41px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -468px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .advant_icon.ic6 {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -468px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

/* Scheme */
.scheme {
  background: #fff;
  min-height: 270px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  line-height: 21px;
  font-size: 15px;
}
.scheme_name {
  font-family: 'uni_sans_heavy_italic', sans-serif;
  line-height: 24px;
  font-size: 17px;
  color: #454545;
  margin: 0 0 15px;
  position: relative;
}
.scheme_name:before {
  content: '';
  display: block;
  position: absolute;
  height: 16px;
  width: 22px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1282px;
  background-repeat: no-repeat;
  right: 0;
  top: 4px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .scheme_name:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1282px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.scheme_name.check:before {
  height: 22px;
  width: 22px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1358px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .scheme_name.check:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1358px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.scheme_num {
  line-height: 162px;
  text-align: center;
  font-family: 'uni_sans_heavy_italic', sans-serif;
  font-size: 135px;
  color: #eee;
}
.scheme_num2 {
  font-family: 'uni_sans_heavy_italic', sans-serif;
  display: none;
  position: absolute;
  right: 25px;
  top: 14px;
  line-height: 72px;
  font-size: 51px;
  color: #eee;
}
.scheme .btn {
  display: block;
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 25px;
}
.scheme_more {
  display: none;
  line-height: 21px;
  font-size: 15px;
  margin: 0;
}
.scheme_txt.over {
  overflow: hidden;
  max-height: 84px;
}

/* Videowrap */
.videowrap {
  background: url(../images/videobg.jpg) center 0 no-repeat;
  height: 750px;
  position: relative;
  overflow: hidden;
}
.videowrap .play {
  font-weight: 700;
  line-height: 31px;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-top: 115px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.videowrap .play span {
  width: 84px;
  height: 84px;
  background: #EF7F1A;
  background: -moz-linear-gradient(left, #EF7F1A 0%, #E85222 100%);
  background: -webkit-linear-gradient(left, #EF7F1A 0%, #E85222 100%);
  background: linear-gradient(to right, #EF7F1A 0%, #E85222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from1', endColorstr='$to1',GradientType=1 );
  position: absolute;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  left: 50%;
  top: 0;
  margin-left: -42px;
}
.videowrap .play span:before {
  content: '';
  display: block;
  position: absolute;
  height: 41px;
  width: 32px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -971px;
  background-repeat: no-repeat;
  top: 21px;
  left: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .videowrap .play span:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -971px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.videowrap .play span:hover {
  background: #E85222;
  background: -moz-linear-gradient(left, #E85222 0%, #EF7F1A 100%);
  background: -webkit-linear-gradient(left, #E85222 0%, #EF7F1A 100%);
  background: linear-gradient(to right, #E85222 0%, #EF7F1A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from1', endColorstr='$to1',GradientType=1 );
}
.videowrap .play b {
  font-weight: 400;
}
.videowrap video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 2;
}

/* Dreams */
.dreams {
  margin-bottom: 10px;
}

.dream {
  height: 530px;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-position: center 0;
  background-repeat: no-repeat;
  margin: 0 0 30px;
  display: block;
  text-decoration: none;
}
.dream.dream-sm {
  height: 250px;
}
.dream:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 33, 33, 0);
  background: -moz-linear-gradient(top, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 0%, rgba(33, 33, 33, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from2', endColorstr='$to2',GradientType=0 );
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.dream_hover {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  display: block;
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.dream_hover:before {
  content: '';
  display: block;
  position: absolute;
  height: 41px;
  width: 41px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1400px;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .dream_hover:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1400px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.dream_name {
  font-style: italic;
  font-weight: 700;
  line-height: 31px;
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 25px;
  bottom: 20px;
  right: 25px;
  display: block;
  z-index: 5;
}
.dream:hover .dream_hover {
  opacity: 1;
  visibility: visible;
}

/* Formwrap */
.formWrap {
  background: url(../images/formbg.jpg) center 0 no-repeat;
  height: 670px;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}
.formWrap .pagetitle {
  font-size: 64px;
  line-height: 77px;
  margin: 0 0 20px;
  color: #fff;
}
.formWrap p {
  margin: 0 0 30px;
  line-height: 25px;
  font-size: 18px;
}
.formWrap_form {
  max-width: 340px;
  margin: 0 auto;
}
.formWrap small {
  display: block;
  font-size: 10px;
  line-height: 12px;
}
.formWrap small a {
  color: #fff;
}
.formWrap .styler {
  background: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.formWrap .styler.error {
  border-color: rgba(255, 0, 0, 0.7);
}
.formWrap .btn {
  margin: 10px 0 30px;
}
.formWrap .btn:hover {
  background: #fff;
  color: #ef7f1a;
}
.formWrap .errortxt {
  color: #fff;
}

/* Reviews */
.revews_slider_out {
  margin: 0 -15px 100px;
  position: relative;
}
.revews_slider_out .owl-prev, .revews_slider_out .owl-next {
  position: absolute;
  top: 88px;
}
.revews_slider_out .owl-prev {
  left: -54px;
}
.revews_slider_out .owl-next {
  right: -54px;
}

.review {
  background: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 15px 15px 25px;
  position: relative;
  border-bottom: 5px solid #ef7f1a;
  min-height: 170px;
  padding: 25px;
  line-height: 22px;
  font-size: 16px;
}
.review:before {
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-top: 8px solid #ef7f1a;
  left: 67px;
  bottom: -21px;
}
.review_date {
  line-height: 17px;
  font-size: 12px;
  color: #9E9E9E;
}
.review p {
  margin: 0 0 13px;
}
.review_card {
  display: table;
  width: 100%;
  padding: 0 15px;
}
.review_ava {
  display: table-cell;
  vertical-align: middle;
  width: 119px;
}
.review_ava img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-width: 100%;
}
.review_name {
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
  line-height: 17px;
  font-size: 12px;
  color: #9E9E9E;
}
.review_name span {
  display: block;
  font-family: 'uni_sans_heavy_italic', sans-serif;
  line-height: 22px;
  font-size: 16px;
  color: #454545;
  margin: 0;
}

/* Partners */
#partners_slide {
  margin: 0 0 100px;
}
#partners_slide .owl-prev, #partners_slide .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
#partners_slide .owl-prev {
  left: -54px;
}
#partners_slide .owl-next {
  right: -54px;
}
#partners_slide .item img {
  width: auto;
  margin: 0 auto;
  display: block;
}

@media (max-width: 1300px) {
  #partners_slide .owl-nav, .revews_slider_out .owl-nav {
    position: absolute;
    right: 15px;
    top: -70px;
  }
  #partners_slide .owl-prev, #partners_slide .owl-next, .revews_slider_out .owl-prev, .revews_slider_out .owl-next {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
    display: inline-block;
  }
  #partners_slide .owl-prev, .revews_slider_out .owl-prev {
    height: 42px;
    width: 42px;
    background-image: url('../images/spr-sc6921d0d81.png');
    background-position: 0 -1220px;
    background-repeat: no-repeat;
    margin-right: 15px;
  }
}
@media (max-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1300px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 1300px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1300px) and (min-device-pixel-ratio: 1.5), (max-width: 1300px) and (min-resolution: 144dpi) {
  #partners_slide .owl-prev, .revews_slider_out .owl-prev {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1220px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
@media (max-width: 1300px) {
  #partners_slide .owl-next, .revews_slider_out .owl-next {
    height: 42px;
    width: 42px;
    background-image: url('../images/spr-sc6921d0d81.png');
    background-position: 0 -707px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1300px) and (min--moz-device-pixel-ratio: 1.5), (max-width: 1300px) and (-o-min-device-pixel-ratio: 3 / 2), (max-width: 1300px) and (min-device-pixel-ratio: 1.5), (max-width: 1300px) and (min-resolution: 144dpi) {
  #partners_slide .owl-next, .revews_slider_out .owl-next {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -707px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

@media (max-width: 768px) {
  .revews_slider_out .owl-nav {
    top: -60px;
  }
}
/* Instaphotos */
.instslider_outer {
  display: none;
  margin: 0 0 280px;
}

.instslider_outer .item {
  width: 260px;
}

.instslider_outer .item img {
  width: auto;
  margin: 0 auto;
}

.instaphotos img {
  display: block;
  width: 100%;
  margin: 0 0 30px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.instaphotos .last {
  display: none;
}

.zoomlink {
  position: relative;
  display: block;
}
.zoomlink:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.zoomlink:after {
  content: '';
  display: block;
  position: absolute;
  height: 41px;
  width: 41px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -1400px;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  z-index: 3;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .zoomlink:after {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -1400px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.zoomlink:before, .zoomlink:after {
  transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.zoomlink:hover:before, .zoomlink:hover:after {
  opacity: 1;
  visibility: visible;
}

.instTitle {
  margin: 0 0 40px;
}
.instTitle:after {
  content: '';
  clear: both;
  display: block;
}
.instTitle .pagetitle {
  font-size: 32px;
  line-height: 39px;
  margin: 0;
  float: left;
}
.instTitle_rt {
  float: right;
  margin: 0;
}
.instTitle span {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 0;
  font-size: 18px;
  line-height: 22px;
}
.instTitle .social {
  display: inline-block;
  vertical-align: middle;
}
.instTitle .social a {
  border-color: #e0e0e0;
}
.instTitle .social a i {
  color: #757575;
}
.instTitle .social a:hover {
  border-color: #757575;
}

/* mapWrap */
.mapWrap {
  height: 659px;
  padding-top: 100px;
  position: relative;
}
.mapWrap iframe {
  height: 659px;
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.mapForm {
  background: #fff;
  width: 440px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom: 5px solid #ef7f1a;
  padding: 50px 45px 45px;
  position: relative;
  z-index: 10;
}
.mapForm .pagetitle {
  line-height: 31px;
  font-size: 22px;
  text-transform: uppercase;
  color: #454545;
  margin: 0 0 5px;
}
.mapForm p {
  line-height: 20px;
  font-size: 14px;
  color: #757575;
  margin: 0 0 20px;
}
.mapForm .btn {
  margin: 30px auto;
  display: block;
}
.mapForm small {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #757575;
  display: block;
}

/* Footer */
.footer {
  background: #555;
  padding: 50px 0 0;
}

.copyright {
  border-top: 2px solid rgba(255, 255, 255, 0.05);
  padding: 25px 0;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}
.copyright:after {
  content: '';
  clear: both;
  display: block;
}
.copyright span {
  color: #9E9E9E;
  margin-right: 53px;
}
.copyright span:last-child {
  margin-right: 0;
}
.copyright span a {
  color: #9E9E9E;
}
.copyright .cop-left {
  float: left;
}
.copyright .cop-right {
  float: right;
}

.footAddress {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px;
}

.footLink {
  font-style: italic;
  font-weight: 700;
  line-height: 26px;
  font-size: 16px;
  color: #fff;
  padding-left: 57px;
  position: relative;
}
.footLink a {
  color: #fff;
  text-decoration: none;
}
.footLink span {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.footLink span:before {
  content: '';
  display: block;
  position: absolute;
}
.footLink-address {
  font-size: 14px;
  line-height: 20px;
}
.footLink-address span:before {
  height: 19px;
  width: 14px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -932px;
  background-repeat: no-repeat;
  left: 12px;
  top: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .footLink-address span:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -932px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.footLink-phone span:before {
  height: 19px;
  width: 18px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -831px;
  background-repeat: no-repeat;
  left: 10px;
  top: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .footLink-phone span:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -831px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.footLink-email span:before {
  height: 14px;
  width: 18px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -129px;
  background-repeat: no-repeat;
  left: 10px;
  top: 12px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .footLink-email span:before {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -129px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}

.social a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
}
.social a:last-child {
  margin: 0;
}
.social a i {
  font-size: 18px;
  color: #fff;
  line-height: 38px;
}
.social a:hover {
  border: 2px solid white;
}

/* Modal */
.modal {
  position: relative;
  width: 100%;
  max-width: 440px;
  display: none;
}
.modal_close {
  height: 16px;
  width: 16px;
  background-image: url('../images/spr-sc6921d0d81.png');
  background-position: 0 -93px;
  background-repeat: no-repeat;
  position: absolute;
  right: 15px;
  top: 15px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .modal_close {
    background-image: url('../images/spr-retina-sc27d4bf5e7.png');
    background-position: 0 -93px;
    -moz-background-size: 45px auto;
    -o-background-size: 45px auto;
    -webkit-background-size: 45px auto;
    background-size: 45px auto;
  }
}
.modal .fancybox-close-small {
  display: none !important;
}

.fancybox-bg {
  background: black;
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.7;
}

.modal#confwin {
  max-width: 800px;
  font-size: 14px;
  line-height: 18px;
}
.modal#confwin .pagetitle {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 24px;
}

.instaphotos--first-photo div:first-child{
  width: 585px !important;
  height: 585px !important;
}