@import url("reset.css");
header, nav, section, article, aside, footer {
	display:block
}
/*------------------------fonts---------------------------*/
@font-face {
 font-family: 'Myriad Pro';
 src: url('../onts/MyriadPro-Semibold.eot');
 src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Semibold.woff2') format('woff2'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
 font-weight: 600;
 font-style: normal;
}
 @font-face {
 font-family: 'Myriad Pro';
 src: url('../fonts/MyriadPro-Bold.eot');
 src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.woff2') format('woff2'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype');
 font-weight: bold;
 font-style: normal;
}
 @font-face {
 font-family: 'Myriad Pro';
 src: url('../fonts/MyriadPro-Regular.eot');
 src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'Museo Sans Cyrl 500';
 src: url('../fonts/MuseoSansCyrl-500Italic.eot');
 src: url('../fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-500Italic.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500Italic.woff') format('woff'), url('../fonts/MuseoSansCyrl-500Italic.ttf') format('truetype');
 font-weight: normal;
 font-style: italic;
}
 @font-face {
 font-family: 'Museo Sans Cyrl 500';
 src: url('../fonts/MuseoSansCyrl-500.eot');
 src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.rouble
{
	font-family:'rouble';
	font-weight: normal;
    font-style: normal;
}
/*--------------------------------BODY----------------------*/
html {
	height:100%;
}
body {
	font:normal 18px/27px 'Myriad Pro', Arial, Helvetica, sans-serif;
	color:#504385;
	height:100%;
	min-width:100%;
	background: #292244;
	-webkit-text-size-adjust:none;
}
.main {
	min-height:100%;
	margin:0 auto;
	width: 100%;
	max-width: 1920px;
	overflow: hidden;
	position: relative;
	background: #fff;
}
.container {
	width:100%;
	margin:0 auto;
	padding:0 15px;
	box-sizing: border-box;
}
.hidden {
	display:none;
}
.cnt {
	text-align:center;
}
.clear {
	clear:both;
}
/*-----------------------------FONT-----------------------*/
a, img {
	outline: none;
}
a:focus {
	outline: none;
}
a {
	color:#D84F0D;
	text-decoration:none;
}
a:hover {
	color: #504385;
}
/*-----------------------------HEADER-----------------------*/
.header {
	z-index:25;
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width:263px;
	max-height: 100%;
	background:#292244 url(../images/header_bg.jpg) no-repeat;
	color:#fff;
	box-sizing: border-box;
	height: 100%;
}
.header_container {
	padding: 0 39px 0 38px;
}
.logo {
	padding: 50px 0 80px;
}
.header_top {
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}
.header_top a {
	color: #fff;
	text-decoration: none;
}
.header_top > div {
	margin-bottom: 15px;
}
.header_top > div svg {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}
.header_top > div a:hover svg path {
	fill-opacity: 1;
	transition: all 0.3s linear;
}
.header_top > div.address svg {
	margin:0 15px 0 2px;
}
.header_top > div span {
	display: inline-block;
	vertical-align: middle;
}
.header_top > div.address b {
	font-size: 12px;
	line-height: 17px;
	overflow: hidden;
	font-weight: 600;
	display: inline-block;
	width: 130px;
	vertical-align: top;
}
.request_call.btn {
	width: 100%;
	margin:20px 0 30px;
}
/*----------------------header_mobil---------------*/
.header_mobil {
	height: 80px;
	position: fixed;
	display: none;
	z-index: 30;
	background: #292244;
	top: 0;
	left: 0;
	right: 0;
	padding:0 15px;
}
.logo_mobil {
	display: none;
	position: absolute;
	z-index: 20;
	top: 74px;
	left: 17px;
}
.header_mobil_right {
	float: right;
}
.header_mobil_right > * {
	float: right;
}
.button_mobil {
	float: left;
	margin-top: 15px;
	height: 50px;
	background: url(../images/menu-tablet.png) no-repeat left top;
	padding-left: 65px;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}
.button_mobil.active {
	background: url(../images/menu-tablet_close.png) no-repeat left top;
}
.header_mobil_right .request_call.btn {
	width: 180px;
	margin:15px 0 0px 50px;
}
.header_mobil_right .phone {
	margin-top: 24px;
	margin-left: 50px;
}
.header_mobil_right .email {
	margin-top: 24px;
}
.header_mobil_right .phone path, .header_mobil_right .email path {
	fill: #E0723D;
	fill-opacity: 1;
}
.header_mobil_right a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}
.header_mobil_right > div span {
	display: inline-block;
	vertical-align: middle;
}
.header_mobil_right > div svg {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}
.header_mobil_small {
	width:46px;
	height:46px;
	margin-top:15px;
	float:right;
	border:2px solid rgba(255, 255, 255, 0.15);
	border-radius:7px;
	text-align:center;
	line-height:52px;
}
.header_mobil_small a {
	display:block;
	width:100%;
	height:100%;
}
/*-------------------------nav---------------------*/
.nav {
	position: relative;
	z-index: 10;
}
.ul_nav {
	position:relative;
}
.ul_nav > li {
	position: relative;
	padding:0px 0 20px;
}
.ul_nav > li .span_open {
	position: absolute;
	display: block;
	content: '';
	width: 30px;
	height: 40px;
	top: -8px;
	right: 0;
	cursor:pointer;
	transition: all 0.3s linear;
	background: url(../images/arrow-active.png) no-repeat center;
}
.ul_nav > li.open .span_open {
	transform: rotate(180deg);
	opacity: .4;
}
.ul_nav li a {
	color:#fff;
	display:block;
	font:600 16px/24px 'Myriad Pro';
	text-decoration: none;
	transition: all 0.3s linear;
	text-transform: uppercase;
}
.ul_nav li.active > a, .ul_nav li:hover > a {
	color:#E0723D;
	text-decoration:none;
}
.ul_nav li ul {
	padding: 20px 0 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.ul_nav li ul {
	display: none;
}
.ul_nav li.open ul {
	display: block;
}
.ul_nav li ul li {
	padding:0px 0 10px;
}
.ul_nav li ul li a {
	font:normal 16px/19px 'Myriad Pro';
	color: rgba(255, 255, 255, .6);
	text-transform: none;
}
.ul_nav li ul li.active a, .ul_nav li ul li:hover > a {
	color: #fff;
}
/*-------------------------section_home-------------------------*/
.section_home {
	overflow: hidden;
	margin: 0 0 0 263px;
}
.home_slider {
	position: relative;
}
.home_top {
	position: relative;
	z-index: 1;
}
.home_slider_top {
	position: absolute;
	top: 80px;
	left: 4.5%;
	right: 4.5%;
	z-index: 10;
}
.home_slider_top {
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	color: #fff;
}
.home_slider_top a {
	color: #fff;
	text-decoration: none;
}
.home_slider_top > div {
	display: inline-block;
	vertical-align: middle;
	padding-right: 46px;
}
.home_slider_top > div:hover circle {
	stroke-opacity: 1;
	transition: all 0.3s linear;
}
.home_slider_top > div.slider_shape {
	display: block;
	float: right;
	cursor: pointer;
	position: relative;
}
.home_slider_top > div svg, .home_slider_top > div span {
	display: inline-block;
	vertical-align: middle;
}
.home_slider_top > div svg {
	margin-right: 15px;
}
.home_slider_top > div.slider_shape svg {
	margin:0 0 0 15px;
}
.shape_open {
	border: 2px solid rgba(255, 255, 255, 0.15);
	border-radius: 30px;
	top: 70px;
	position: absolute;
	right: 46px;
	padding: 12px 23px;
	overflow: hidden;
	width: 150px;
	display: none;
}
.shape_close {
	background: url(../images/close_white.svg) no-repeat center;
	width: 14px;
	height: 32px;
	margin-left: 15px;
}
.share42init {
	display: inline-block;
	vertical-align: middle;
}
.shape_close:hover {
	background-image: url(../images/close.svg);
}
.slide_left {
	position: absolute;
	left: 4.5%;
	bottom: 80px;
}
.slide_left h1 {
	font: 48px/56px 'Museo Sans Cyrl 500';
	color: #fff;
	margin-bottom: 30px;
}
.slogan {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 50px;
}
.slide_button span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.slide_right {
	position: absolute;
	right: 4.5%;
	bottom: 80px;
	color: #fff;
}
.slide_right h2 {
	font-size: 26px;
	line-height: 37px;
	font-weight: 400;
	text-align: right;
	margin-bottom: 25px;
}
.slide_right h2 span {
	display: block;
	font-size: 16px;
	line-height: 23px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
	opacity: 0.6;
}
.slide_right .btn_purple {
	width: 180px;
}
/*---------------------home_catalog----------------*/
.home_catalog {
	background: #373052 url(../images/home_catalog.jpg) no-repeat center top;
	padding-bottom: 222px;
}
.home_catalog h2 {
	text-align: left;
}
.home_catalog_slider {
	padding: 103px 4.5% 0;
}
h2 {
	font: 36px/42px 'Museo Sans Cyrl 500';
	color: #fff;
	margin-bottom: 50px;
	text-align: center;
}
.slide_container {
	margin: 50px 0 30px;
	border: 2px solid rgba(203, 191, 239, 0.15);
	border-radius:7px;
	transition: all 0.3s linear;
}
.slide_container:hover {
	border-color: #fff;
}
.div_pic {
	margin-top: -50px;
}
.slick-slide .div_pic img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.slide_container h4 {
	padding: 31px 0 20px;
	color:#fff;
	font:normal 24px/28px 'Myriad Pro';
	text-align: center;
}
.slide_container h4 a {
	color: #fff;
	text-decoration: none;
}
.div_prise {
	text-align: center;
	margin-bottom: -16px;
}
.span_prise {
	background: #D84F0D;
	box-shadow: 0px 5px 25px rgba(216, 79, 13, 0.25);
	color:#fff;
	font:normal 16px/31px 'Myriad Pro';
	padding: 0 15px;
	border-radius:16px;
	display: inline-block;
}
.home_catalog_form {
	padding: 84px 4.5% 70px
}
.aquarium_catalog {
	margin: 0 -15px;
	overflow: hidden;
}
.aquarium_catalog_page {
	padding-bottom:50px;
}
.aquarium_item {
	padding: 0 15px 30px;
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.aquarium_empty2 {
	display: none;
}
.aquarium_item a {
	text-decoration: none;
	color: #fff;
}
.aquarium_catalog_page .aquarium_item a {
	color: #292244;
}
.aquarium_item > div {
	border: 2px solid rgba(203, 191, 239, 0.15);
	border-radius:7px;
	transition: all 0.3s linear;
}
.aquarium_catalog_page .aquarium_item > div {
	border: 2px solid rgba(0, 0, 0, 0.15);
}
.aquarium_item > div:hover {
	border-color:#fff;
}
.aquarium_catalog_page .aquarium_item > div:hover {
	border-color:#504385;
}
.div_svg {
	height: 260px;
	text-align: center;
	line-height: 260px;
}
.div_svg svg {
	display: inline-block;
	vertical-align: middle;
}
.aquarium_item > div path {
	transition: all 0.3s linear;
}
.aquarium_catalog_page .aquarium_item > div path, .aquarium_catalog_page .aquarium_item > div:hover path {
	fill:#D84F0D;
}
.aquarium_item > div:hover path {
	fill:#fff;
	fill-opacity:1;
}
.aquarium_item span {
	display: block;
	text-align: center;
	font:normal 24px/28px 'Myriad Pro';
	text-transform: uppercase;
	padding: 29px 0;
}
.how_order {
	background: url(../images/how_order.png) no-repeat center top;
	position: relative;
	padding: 179px 4.5% 67px;
	margin-top: -206px;
	position: relative;
}
.how_order:before {
	display: block;
	position: absolute;
	content: '';
	background: url(../images/fish-1.png) no-repeat;
	right: 0px;
	top: -144px;
	width: 551px;
	height: 504px;
}
.order_map {
	margin-top: -43px;
	float: left;
	width: 47.5%;
}
.order_map img {
	width: 100%;
}
.order_text {
	width: 43%;
	float: right;
	padding-top: 35px;
}
.order_text h3, .div_order_text h3 {
	color: #292244;
	font: 36px/42px 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
}
.order_text p {
	margin-bottom: 10px;
}
.order_reviews {
	background: url(../images/order_reviews.jpg) no-repeat center top;
	background-size: cover;
}
.div_order {
	background: url(../images/div_order.png) no-repeat center top;
	padding: 75px 4.5% 10px;
}
.div_order_text {
	float: left;
	width: 19%;
}
.ul_order {
	float: right;
	overflow: hidden;
	width: 75%;
}
.ul_order li {
	float: left;
	margin-left: 2%;
	width: 31.3%;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	text-align: center;
	padding-bottom: 25px;
}
.order_svg {
	text-align: center;
	height: 218px;
	line-height: 218px;
}
.order_svg svg {
	vertical-align: middle;
}
.ul_order h4 {
	color: #D84F0D;
	text-transform: uppercase;
	margin-bottom: 15px;
	font:600 18px/25px 'Myriad Pro', Arial, Helvetica, sans-serif;
}
.ul_order span {
	display: block;
	font-size: 16px;
	line-height: 23px;
	padding: 0 5px;
}
.div_reviews {
	padding:90px 4.5% 186px;
	background: url(../images/div_reviews.png) no-repeat center bottom;
}
.slider_reviews.slick-slider {
	padding: 0 88px 54px;
	color: #fff;
}
.reviews_conteiner {
	border: 2px solid rgba(203, 191, 239, 0.15);
	border-radius:7px;
	padding: 30px;
	position: relative;
	overflow: hidden;
}
.slider_reviews .slick-slide:before {
	position: absolute;
	display: block;
	content: '';
	width: 4px;
	height: 43px;
	background: #D84F0D;
	border-radius:2px;
	left: 14px;
	top: 29px;
}
.reviews_text {
	float: left;
	width: 58%;
}
.reviews_pic {
	float: right;
	width: 37%;
	background: rgba(203, 191, 239, 0.15);
	border-radius:7px;
}
.reviews_pic a {
	position:relative;
	display:block;
}
.reviews_pic a span {
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	left:0;
	background:rgba(0, 0, 0, 0.3) url(../images/zoom-hover.png) no-repeat center;
	opacity:0;
	transition: all 0.3s linear;
	border-radius:7px;
}
.reviews_pic a:hover span {
	opacity:1;
}
.reviews_pic img {
	vertical-align: middle;
	border-radius:7px;
	width: 100%;
}
.reviews_head {
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom:1px solid rgba(203, 191, 239, 0.15);
	margin-bottom: 25px;
}
.reviews_head h5 {
	font: 18px/21px 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
}
.reviews_head span {
	font-size: 14px;
	line-height: 16px;
	color: rgba(203, 191, 239, 0.7);
	display: block;
}
.span_city {
	float: left;
}
.span_date {
	float: right;
}
.reviews_text p {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 19px;
}
.reviews_text p span {
	font-size: 14px;
	line-height: 16px;
	display: block;
	color:rgba(203, 191, 239, 0.7);
	display: block;
}
.div_rating {
	padding: 20px 0;
	font: 22px/28px 'Museo Sans Cyrl 500', Arial, Helvetica, sans-serif;
	color: rgba(203, 191, 239, 0.7);
	text-align: center;
}
.div_rating b {
	color: #fff;
}
.div_rating span {
	display: block;
	color: rgba(203, 191, 239, 0.7);
	font:normal 14px/16px 'Myriad Pro', Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}
.div_team {
	padding: 100px 4.5% 0;
	background: url(../images/div_team.jpg) no-repeat center 48px;
	text-align: center;
	position: relative;
}
.div_team:before {
	position: absolute;
	content: '';
	display: block;
	width: 384px;
	height: 333px;
	background: url(../images/fish-2.png) no-repeat;
	left: 113px;
	top: -172px;
}
.div_team h2 {
	color: #292244;
	margin-bottom: 30px;
}
.div_team p {
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 40px;
}
.div_team img {
	vertical-align: middle;
	width: 100%;
}
.div_video {
	padding: 100px 4.5% 0;
	box-sizing: border-box;
	background: url(../images/div_video.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	height: 800px;
}
.video_text {
	float: left;
	width: 23.5%;
}
.video_text h2 {
	color: #fff;
	margin-bottom: 45px;
	text-align: left;
}
.ul_video {
	float: right;
	overflow: hidden;
	width: 72.5%;
	margin-bottom: 110px;
}
.ul_video li {
	float: left;
	width: 31.3%;
	padding-left:2%;
}
.video_svg {
	height: 60px;
	line-height: 60px;
	margin-bottom: 29px;
}
.video_svg svg {
	vertical-align: middle;
}
.ul_video h6 {
	font: 600 18px/25px 'Myriad Pro';
	text-transform: uppercase;
	margin-bottom: 10px;
}
.ul_video span {
	display: block;
	color: rgba(203, 191, 239, 0.7);
	font-size: 16px;
	line-height: 23px;
}
.link_video {
	width: 294px;
	margin: 0 auto;
	text-align: center;
}
.link_video a {
	color: #fff;
	text-decoration: none;
}
.link_video a path {
	transition: all 0.3s linear;
}
.link_video a:hover path {
	fill: #D84F0D;
}
.link_video span {
	color: #fff;
	text-transform: uppercase;
	font: 600 24px/34px 'Myriad Pro';
	display: block;
	margin-top: 30px;
}
.video_pic {
	margin: 132px -15px -100px;
	display: flex;
	justify-content: center;
}
.video_pic > div {
	position:relative;
	margin: 0 15px;
	height: 200px;
	border-radius:7px;
	overflow: hidden;
	width:25%;
}
.video_pic > div span {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background: rgba(0, 0, 0, 0.3) url(../images/zoom-hover.png) no-repeat center;
	opacity: 0;
	transition: all 0.3s linear;
	border-radius: 7px;
}
.video_pic > div:hover span {
	opacity:1;
}
.video_pic > div img {
	height:200px;
	width:auto;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.div_interview {
	padding: 200px 4.5% 123px;
	box-sizing: border-box;
	position:relative;
	background: url(../images/div_interview.jpg) no-repeat center top;
	position: relative;
	z-index: 0;
	overflow: hidden;
	background-size: cover;
}
.interview_left {
	float: left;
	width: 49%;
	overflow: hidden;
}
.interview_container {
	width: 600%;
	position: relative;
}
.interview_items {
	width: 16.666666667%;
	float: left;
}
.interview_head {
	margin-bottom: 25px;
}
.interview_head h6 {
	font:bold 16px/23px 'Myriad Pro';
	text-transform: uppercase;
	color: rgba(203, 191, 239, 0.35);
	display: inline-block;
	vertical-align: middle;
	padding-right: 27px;
}
.span_indicator {
	display: inline-block;
	vertical-align: middle;
	background: rgba(203, 191, 239, 0.25);
	height: 10px;
	width: 214px;
	border-radius:5px;
}
.span_indicator span {
	display: block;
	background: #D84F0D;
	height: 10px;
	border-radius:5px;
	transition: all 0.3s linear;
}
.interview_left h2 {
	line-height: 51px;
	height: 102px;
	margin-bottom: 10px;
	text-align: left;
}
.interview_left h2.h2_thank {
	height: auto;
}
.interview_left h2.h2_color {
	height: auto;
	color: #E0723D;
}
.span_h2 {
	display: block;
	color: rgba(203, 191, 239, 0.35);
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 50px;
}
.span_h22 {
	font: 16px/24px 'Museo Sans Cyrl 500';
	color: #fff;
	margin-bottom: 72px;
	display: block;
}
.span_h22 span {
	color: #E0723D;
}
.div_radio_one {
	float: left;
	width: 50%;
	margin-bottom: 30px;
}
.div_radio_one input {
	display: none;
}
.div_radio_one label {
	display: flex;
	align-items: center;
	padding-left: 70px;
	font: 600 16px/19px "Myriad Pro";
	color: #fff;
	text-transform: uppercase;
	background: url(../images/radio.png) no-repeat;
	transition: all 0.3s linear;
	cursor: pointer;
	min-height: 51px;
}
.div_radio_one label span {
	color: rgba(203, 191, 239, 0.7);
	font-size: 12px;
	line-height: 14px;
	display: block;
}
.div_radio_one label:hover {
	background: url(../images/radio_active.png) no-repeat;
}
.div_radio_one input:checked + label {
	background: url(../images/radio_active.png) no-repeat;
}
.div_svg_one {
	width: 33.3%;
	float: left;
	margin-bottom: 25px;
	transition: all 0.3s linear;
	cursor: pointer;
	text-align: center;
}
.interview_svg {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 70px;
}
.interview_svg svg {
	max-width: 100%;
	max-height: 100%;
	transition: all 0.3s linear;
}
.div_svg_one label {
	display: block;
	vertical-align: middle;
	font: 600 16px/30px "Myriad Pro";
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.interview_hidden {
	height: 186px;
}
.div_svg_one path {
	transition: all 0.3s linear;
}
.div_svg_one:hover path {
	fill:#fff;
	fill-opacity:1;
}
.interview_right {
	padding-top: 50px;
	float: right;
	width: 40.5%;
}
.interview_right h3 {
	font: normal 25px/50px 'Myriad Pro';
	color: #fff;
}
.interview_right h3 span {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	box-shadow: 0px 5px 25px rgba(216, 79, 13, 0.25);
	border-radius: 50%;
	background: #D84F0D;
	text-align: center;
	font-size: 20px;
	line-height:50px;
}
.span_h3 {
	line-height: 19px;
	display: block;
	color: rgba(203, 191, 239, 0.7);
	font-size:16px;
	margin-bottom: 114px;
}
.ul_sale {
	text-transform: uppercase;
	font: bold 25/29px 'Myriad Pro';
	color: rgba(203, 191, 239, 0.25);
}
.ul_sale li {
	margin-bottom: 30px;
	font-weight: bold;
}
.ul_sale li span {
	margin-left: 20px;
}
.ul_sale li.active {
	color: #E0723D;
}
.ul_sale li.active span {
	color: #fff;
}
.ul_sale li.active_white span {
	color: #fff;
}
.div_form_right {
	float: right;
	width: 48%;
	margin-left: 4%;
	font: 14px/21px 'Museo Sans Cyrl 500';
	color: rgba(203, 191, 239, 0.35);
}
.div_form_right span {
	color: #fff;
}
.div_form_left {
	width: 48%;
}
.div_form_left input[type="submit"], .div_form_left .div_submit {
	box-shadow:none;
}
.div_data {
	font-size: 14px;
	line-height: 20px;
	color: rgba(203, 191, 239, 0.35);
	margin-top: 20px;
}
.div_data_popap {
	color: #BDBDBD;
	font-size: 12px;
	line-height: 17px;
	margin-top: 20px;
}
/*----------------------section_page---------------------*/
.section_page {
	margin-left:263px;
	background:#fff url(../images/section_page.png) no-repeat center bottom;
	min-height:100%;
	max-width:1657px;
	padding-bottom:123px;
}
.page_top_bg {
	background:url(../images/section_page_top.png) no-repeat center top;
	padding:80px 4.5% 0;
}
.page_top {
}
.section_page h1 {
	color:#292244;
	font: 36px/42px 'Museo Sans Cyrl 500';
	margin-bottom:20px;
}
.aquariums_layout {
	float:right;
	margin-right:200px;
}
.breadcrumbs {
	font-size:16px;
	line-height:19px;
	color:#D84F0D;
	margin-bottom:108px;
}
.breadcrumbs a {
	text-decoration:none;
	color:#504385;
	transition: all 0.3s linear;
}
.breadcrumbs a:hover {
	color:#D84F0D;
}
.span_ser {
	display:inline-block;
	width:5px;
	height:19px;
	background:url(../images/span_ser.svg) no-repeat center;
	margin:0 10px;
	vertical-align:middle;
}
.filtr {
	display:table;
	margin-bottom:50px;
}
.filtr h3 {
	color:#504385;
	font: 16px/19px 'Museo Sans Cyrl 500';
	margin-bottom:20px;
}
.div_select {
	float:left;
	margin-right:30px;
	position:relative;
	width:220px;
	position:relative;
	z-index:0;
}
.aquariums_catalog {
	margin: 0 -15px;
	overflow: hidden;
}
.item_aquarium {
	padding: 0 15px 30px;
	float: left;
	width: 25%;
	box-sizing: border-box;
}
.item_aquarium > div {
	margin: 50px 0 30px;
	border: 2px solid #E0E0E0;
	border-radius: 7px;
	transition: all 0.3s linear;
}
.item_aquarium > div:hover {
	border-color:#504385;
}
.item_aquarium > div img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.item_aquarium h4 {
	padding: 31px 0 20px;
	color: #504385;
	font: normal 24px/28px 'Myriad Pro';
	text-align: center;
}
.item_aquarium h4.text_t {
	text-transform:uppercase;
}
.item_aquarium.item_aquarium_new {
	padding-bottom:0;
}
.item_aquarium.item_aquarium_new h4 {
	text-transform:uppercase;
	padding:35px 0 30px;
}
.item_aquarium h4 a {
	color: #504385;
	text-decoration: none;
}
.item_aquarium:hover {
	border-color: #504385;
}
.section_page_bottom {
	display:table;
	width:100%;
	padding-bottom:40px;
}
.about_left {
	float:left;
	width:49%;
}
.about_left h3 {
	color:#292244;
	font-size:24px;
	line-height:39px;
	margin-bottom:10px;
}
.about_left p {
	margin-bottom:10px;
}
.about_right {
	float:right;
	margin-right:3.7%;
	width:33%;
	margin-top:15px;
}
.about_right svg {
	width:100%;
}
.div_job {
	clear:both;
	padding-top:60px;
	padding-bottom:40px;
}
.div_job h2 {
	color: #292244;
	font: 36px/42px 'Museo Sans Cyrl 500';
	margin-bottom: 50px;
	text-align:left;
}
/*---------------------navigation-------------------------*/
.navigation {
	border:2px solid #E0E0E0;
	float:left;
	padding:0 10px;
	border-radius:7px;
}
.navigation ul li {
	display:inline-block;
	vertical-align:middle;
}
.navigation ul li a, .navigation ul li span {
	padding:0 10px;
	min-width:11px;
	color:#292244;
	font: 18px/48px 'Museo Sans Cyrl 500';
	text-decoration:none;
	transition: all 0.3s linear;
}
.navigation ul li a:hover, .navigation ul li span {
	color:#D84F0D;
}
.navigation ul li a path {
	transition: all 0.3s linear;
}
.navigation ul li a:hover path {
	stroke:#D84F0D;
}
.div_quantity {
	float:right;
}
.div_quantity span {
	display:inline-block;
	vertical-align:middle;
	font: 16px/19px 'Museo Sans Cyrl 500';
	color:#504385;
	margin-right:20px;
}
.div_quantity > div {
	display:inline-block;
	vertical-align:middle;
	width:108px;
}
.div_galery {
	margin:0 -15px;
}
.gallery_item {
	float:left;
	width:25%;
	padding:0 15px 30px;
	box-sizing: border-box;
}
.gallery_item > div {
	border-radius:7px;
	overflow:hidden;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
	position: relative;
}
.gallery_item > div img {
	width:100%;
	vertical-align:middle;
}
.gallery_item > div span {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	background: rgba(0, 0, 0, 0.3) url(../images/zoom-hover.png) no-repeat center;
	opacity:0;
	transition: all 0.3s linear;
	border-radius: 7px;
}
.gallery_item > div:hover span {
	opacity:1;
}
.delivery_p_top {
	margin-bottom:20px;
}
.delivery_flex {
	display:flex;
	justify-content: space-between;
	margin:0 -15px;
}
.delivery_flex_1, .delivery_flex_2 {
	justify-content: space-between;
	display:flex;
	width:50%;
}
.delivery_item {
	border:2px solid #E0E0E0;
	border-radius:7px;
	width:33%;
	margin:0 15px 30px;
	text-align:center;
	padding-bottom:25px;
	position:relative;
}
.delivery_item:before {
	display:block;
	position:absolute;
	content:'';
	background:url(../images/arrow-left.svg) no-repeat;
	width: 20px;
	height: 19px;
	left: -27px;
	top: 50%;
	margin-top: -10px;
}
.delivery_flex_1 .delivery_item:first-child:before {
	display:none;
}
.delivery_item .btn.btn_black2 {
	margin:0 auto;
	width:80%
}
.delivery_img {
	padding:50px 0 48px;
	line-height:80px;
	height:80px;
}
.delivery_item span {
	font-size:16px;
	line-height:23px;
	font-weight:600;
	padding:0 25px;
	display:block;
}
.delivery_item span span {
	font-weight:normal;
	font-size:13px;
	display:block;
}
.delivery_img svg {
	display:inline-block;
	vertical-align:middle;
}
.delivery_left {
	width:49%;
	float:left;
}
.delivery_right {
	float:right;
	width:49%;
}
.delivery_text {
	overflow:hidden;
}
.delivery_text h3 {
	margin:30px 0 20px;
	color: #292244;
	font: 26px/30px 'Museo Sans Cyrl 500';
}
.delivery_text p {
	margin-bottom:10px;
}
.div_payment {
	margin-top:20px;
}
.div_payment > div {
	margin-bottom:10px;
	overflow:hidden;
}
.payment_pic {
	float:left;
	padding-top: 4px;
}
.payment_text {
	margin-left:40px;
	overflow:hidden;
}
.payment_text h4 {
	color:#292244;
	font-size:22px;
	line-height:31px;
	font-weight:normal;
}
.ul_order_new .order_svg {
	text-align: left;
	height: 166px;
	line-height: 166px;
	display:inline-block;
	vertical-align:middle;
	width:183px;
}
.ul_order_new .order_svg svg {
	width:100%;
	margin-right:22px;
}
.order_text_new {
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	color:#504385;
	font-size:16px;
	line-height:23px;
}
.order_text_new h4 {
	color:#D84F0D;
	font:600 18px/25px 'Myriad Pro', Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	text-transform:uppercase;
}
.text_col {
	padding-left:30px;
	width:50%;
	box-sizing: border-box;
	float:left;
}
.div_text .text_col:first-child {
	padding-left:0;
}
.div_text {
	overflow:hidden;
	padding-bottom:30px;
	margin-top:30px;
}
.div_text h2 {
	color: #292244;
	font: 26px/37px 'Museo Sans Cyrl 500';
	margin:30px 0 20px;
	text-align:left;
}
.div_text h3 {
	color: #292244;
	font: 20px/28px 'Museo Sans Cyrl 500';
	margin:30px 0 15px;
	text-align:left;
}
.div_text p {
	margin-bottom:10px;
}
.div_text img {
	border-radius:7px;
	max-width:100%;
}
.div_text ul, .div_text ol {
	margin-bottom:20px;
}
.div_text ul li, .div_text ol li {
	margin-bottom:10px;
	padding-left:30px;
	position:relative;
}
.div_text ul li:before {
	display:block;
	position: absolute;
	content:'';
	width:15px;
	height:2px;
	left:0;
	top:12px;
	background:#D84F0D;
}
.div_text ol {
	counter-reset: li;
	list-style: none;
}
.div_text ol li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left:0;
	width:15px;
	text-align: center;
	font-weight: 600;
	color:#D84F0D;
	font-size:18px;
	top:-1px;
}
.div_text ol li:after {
	content: '.';
	position: absolute;
	left:15px;
	font-weight: 600;
	color:#D84F0D;
	font-size:18px;
	top:-1px;
}
.div_text p strong, .div_text p b {
	font-weight:600;
}
.review_page .reviews_conteiner {
	border: 2px solid #E0E0E0;
}
.review_page .reviews_head {
	border-color:#E0E0E0;
}
.review_page .reviews_head h5 {
	color:#D84F0D;
}
.review_page .reviews_head span {
	color: #9E9E9E;
}
.review_page .reviews_text p span {
	color:#9E9E9E;
}
.review_page .div_rating, .review_page .div_rating span {
	color: #9E9E9E;
}
.review_page .div_rating b {
	color: #D84F0D;
}
.review_page {
	margin:0 -15px 30px;
	overflow:hidden;
	display: flex;
	flex-wrap: wrap;
}
.review_page > div {
	padding:0 15px;
	width:50%;
	box-sizing: border-box;
	position:relative;
	float:left;
	margin-bottom:30px;
}
.review_page > div:before {
	position: absolute;
	display: block;
	content: '';
	width: 4px;
	height: 43px;
	background: #D84F0D;
	border-radius: 2px;
	left: 14px;
	top: 29px;
	z-index:10;
}
.review_page .reviews_pic {
	background:#EFEFEF;
}
.reviews_video .reviews_text {
	float: none;
	width: 100%;
}
.reviews_video_block {
	width:100%;
	position:relative;
	padding-bottom:56.25%;
	overflow:hidden;
}
.reviews_video_block iframe {
	width:100%;
}
.reviews_video_block img, .reviews_video_block iframe {
	position:absolute;
	left:0;
	width:100%;
	top:0;
}
.div_contacts {
	padding-bottom:40px;
}
.div_contacts.div_text {
	overflow: inherit;
}
.contacts_left {
	float:left;
	width: 51%;
}
.contact_left_2 {
	float:left;
	width:56%;
}
.contacts_center {
	float:right;
	padding-left:2%;
	width: 42%;
}
.contacts_right {
	width:40%;
	float:right;
	border-radius:7px;
	overflow:hidden;
	box-shadow:0px 5px 25px rgba(0, 0, 0, 0.15);
}
.contacts_right iframe {
	vertical-align:middle;
}
/*-------------------------items-------------------*/
.aquariums_top {
	overflow:hidden;
	border:2px solid #E0E0E0;
	border-radius:7px;
	padding:50px 3.3% 50px 6.6%;
}
.aquariums_slider {
	width:46%;
	float:left;
}
.aquariums_info, .characteristics {
	width:47%;
	float:right;
}
.div_amount {
	width:136px;
	height:50px;
	border:2px solid #E0E0E0;
	padding:3px;
	box-sizing: border-box;
	border-radius:7px;
	overflow:hidden;
	float:right;
}
.div_amount span {
	float:left;
	display:block;
	width:40px;
	height:40px;
	cursor:pointer;
	color:#D84F0D;
	text-align: center;
	background:rgba(216, 79, 13, 0.15);
	border-radius:3px;
	font: 18px/21px 'Museo Sans Cyrl 500';
	transition: all 0.3s linear;
	line-height:40px;
}
.div_amount span svg {
	vertical-align:middle;
}
.div_amount span:hover {
	background:rgba(216, 79, 13, 0.35);
}
.div_amount input[type="text"] {
	float:left;
	border:none;
	padding:0;
	width:46px;
	height:40px;
	text-align:center;
	color:#D84F0D;
	margin-bottom:0;
	font: 18px/40px 'Museo Sans Cyrl 500';
}
.div_curbstone {
	width:49%;
	display:inline-block;
	overflow:hidden;
	cursor:pointer;
}
.div_curbstone.active {
	cursor:default;
}
.curbstone_pic {
	width:90px;
	height:90px;
	background:rgba(41, 34, 68, 0.1);
	border-radius:7px;
	float:left;
	text-align:center;
	line-height:90px;
	transition: all 0.3s linear;
}
.curbstone_pic svg path {
	fill:#504385;
	transition: all 0.3s linear;
}
.div_curbstone.active .curbstone_pic svg path, .div_curbstone:hover .curbstone_pic svg path {
	fill:#D84F0D;
}
.div_curbstone.active .curbstone_pic, .div_curbstone:hover .curbstone_pic {
	background:rgba(216, 79, 13, 0.15);
}
.curbstone_pic svg {
	vertical-align:middle;
}
.curbstone_text {
	overflow:hidden;
	margin-left:110px;
	padding-top:10px;
}
.curbstone_text label {
	display:inline-block;
	padding-right:23px;
	background:url(../images/curbstone_label.svg) no-repeat right 1px;
	color:#9E9E9E;
	font-size:16px;
	line-height:19px;
	margin-bottom:5px;
}
.div_curbstone.active .curbstone_text label {
	background-image:url(../images/curbstone_label_active.svg);
}
.curbstone_price {
	color:#504385;
	font: 36px/42px 'Museo Sans Cyrl 500';
}
.curbstone_price span {
	font-size:30px;
}
.div_curbstone.active .curbstone_price, .div_curbstone:hover .curbstone_price {
	color:#D84F0D;
}
.div_curbstone_group {
	margin-bottom:50px;
}
.card_button {
	padding-bottom:45px;
}
.card_button .btn {
	width:176px;
}
.div_select_card {
	float:right;
	position:relative;
	width:200px;
	margin-left:30px;
}
.select_open {
	position: relative;
	border-radius: 7px;
	border: 2px solid #E0E0E0;
	min-height: 14px;
	margin: 0;
	transition: all 0.3s linear;
	cursor:pointer;
	padding: 3px 25px 3px 3px;
	z-index:20;
	background:#fff;
}
.select_open.select_open_big{
padding: 13px 25px;
    background: #fff;
}
.select_open.select_open_big span{
padding-left:0;
display: block;
    padding-right: 0px;
    color: #292244;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.select_open img, .select_open span {
	display:inline-block;
	vertical-align:middle;
}
.select_open span {
	color:#9E9E9E;
	font-size:14px;
	line-height:16px;
	padding-left:8px;
}
.select_open:hover, .select_open.active {
	border-color:#D84F0D;
}
.select_open label {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
}
.select_open label i {
	background: url(../images/select.png) no-repeat center;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	opacity: 1;
	cursor:pointer;
}
.select_body {
	display:none;
	min-width: 100%;
	z-index: 10;
	top: 40px;
	position: absolute;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
	border: 2px solid #E0E0E0;
	z-index: 2;
	padding-top: 10px;
	border-radius: 0 0 7px 7px;
}
.select_body li {
	padding:3px;
	position: relative;
	border-bottom: 1px solid #E0E0E0;
	transition: all 0.3s linear;
	cursor:pointer;
}
.select_body.select_body_big li{
    padding: 12px 25px;
    position: relative;
    border-bottom: 1px solid #E0E0E0;
    transition: all 0.3s linear;
	    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.select_body li:last-child {
	border-bottom: none;
}
.select_body img, .select_body span {
	display:inline-block;
	vertical-align:middle;
}
.select_body span {
	color:#9E9E9E;
	font-size:14px;
	line-height:16px;
	padding-left:8px;
}
.select_body.select_body_big span{
padding-left:0;
display:block;
color:#504385
}
.select_body li:hover span, .select_open.active li span {
	color:#D84F0D;
}
.characteristics {
}
.characteristics h6 {
	font:normal 16px/19px 'Myriad Pro';
	color:#9E9E9E;
}
.characteristics ul li {
	overflow:hidden;
	border-top:2px solid #E0E0E0;
	font-size:18px;
	line-height:47px;
}
.characteristics ul li:first-child {
	border:none;
}
.characteristics ul li span {
	display:block;
	float:left;
}
.characteristics ul li span+span {
	font-weight:600;
	float:right;
	color:#292244;
}
.div_curbstone_price {
	padding-top:45px;
	font: 31px/36px 'Museo Sans Cyrl 500';
	color:#D84F0D;
	float:left;
}
.div_curbstone_price i{
font-size:25px;
}
.div_curbstone_price span {
	display:block;
	color:#9E9E9E;
	font-size:16px;
	line-height:19px;
}
.card_button.card_button_new {
	width:60%;
	float:right;
	padding-top:45px;
}
/*-----------------------card_tabs----------------------*/
.card_tabs {
	margin-top:50px;
	padding-bottom:40px;
}
.card_tabs_head {
	overflow:hidden;
	padding:12px 0;
	border:2px solid #E0E0E0;
	border-radius:7px;
	display:inline-block;
	position:relative;
	z-index:10;
	background:#fff;
}
.card_tabs_head li {
	float:left;
	border-left:2px solid #E0E0E0;
	padding:0 24px;
	line-height:26px;
	color:#292244;
	font-weight:600;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
	transition: all 0.3s linear;
}
.card_tabs_head li.active, .card_tabs_head li:hover {
	color:#D84F0D;
}
.card_tabs_head li:first-child {
	border:none;
}
.card_tabs_body {
	padding:76px 50px 44px;
	border:2px solid #E0E0E0;
	border-radius:7px;
	position:relative;
	z-index:5;
	margin-top:-32px;
}
.card_tabs_body > div {
	display:none;
	transition: all 0.3s linear;
}
.card_tabs_body > div.active {
	display:block;
}
/*------------------------btn--------------------------*/
.btn {
	display: block;
	background: transparent;
	width: 204px;
	height: 50px;
	text-align: center;
	font-size: 14px;
	line-height: 46px;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s linear;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid rgba(203, 191, 239, 0.15);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 7px;
}
.btn:hover {
	border-color: #fff;
}
.btn.btn_orange {
	background: #D84F0D;
	border-color: #D84F0D;
	box-shadow: 0px 5px 25px rgba(216, 79, 13, 0.25);
	color:#fff;
}
.btn.btn_orange:hover {
	background: #E0723D;
	border-color: #E0723D;
}
.btn.btn_purple {
	background: #292244;
	border-color: #292244;
	box-shadow: 0px 5px 25px rgba(41, 34, 68, 0.25);
}
.btn.btn_purple:hover {
	background: #504385;
	border-color: #504385;
	color:#fff;
}
.btn.btn_black {
	padding: 0 25px;
	width: auto;
	border-color:#E0E0E0;
	color: #292244;
	display: inline-block;
	margin-top: 20px;
}
.btn.btn_black:hover {
	color: #fff;
	background: #504385;
	border-color: #504385;
	box-shadow: 0px 5px 25px rgba(41, 34, 68, 0.25);
}
.btn.btn_black2 {
	padding: 0 25px;
	width: auto;
	border-color:#E0E0E0;
	color: #D84F0D;
	display: inline-block;
	margin-top: 20px;
}
.btn.btn_black2:hover {
	color: #fff;
	background: #D84F0D;
	border-color: #D84F0D;
	box-shadow: 0px 5px 25px rgba(41, 34, 68, 0.25);
}
/*------------------------------form---------------------------*/

input[type="text"], input[type="tel"], input[type="time"], input[type="email"], textarea, select {
	border:2px solid #E0E0E0;
	background:transparent;
	width:100%;
	height:50px;
	border-radius:7px;
	position:relative;
	font:600 14px/30px 'Myriad Pro', Arial, Helvetica, sans-serif;
	color:#504385;
	padding:10px 20px;
	display:block;
	margin:0 0px 20px 0px;
	box-sizing: border-box;
	transition: all 0.3s linear;
}
input[type="text"].input_2 {
	border:2px solid rgba(203, 191, 239, 0.25);
	color:#fff;
}
input[type="text"].input_2:hover, input[type="text"].input_2:focus {
	border:2px solid #fff;
}
input[type="text"].error, input[type="tel"].error, input[type="email"].error, textarea.error {
	border-color:red;
	color:red;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="tel"]:hover, input[type="tel"]:focus, input[type="email"]:hover, input[type="email"]:focus, textarea:focus, textarea:hover, select:focus, select:hover {
	border-color:rgba(80, 67, 133, 0.5);
	z-index: 2;
}
textarea {
	height:95px;
	width:100%;
	resize:none;
}
input[type="submit"], .div_submit {
	display: block;
	background: #D84F0D;
	text-align: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius:7px;
	transition: all 0.3s linear;
	font:600 16px/50px 'Myriad Pro', Arial, Helvetica, sans-serif;
	height: 50px;
	width:100%;
	cursor:pointer;
	margin-top: 20px;
	transition: all 0.3s linear;
	box-shadow: 0px 5px 25px rgba(216, 79, 13, 0.25);
}
input[type="submit"]:hover, .div_submit:hover {
	background:#E0723D;
}
::-webkit-input-placeholder {
color:#504385;
 opacity: 1;
transition: opacity 0.3s ease;
}
::-moz-placeholder {
color:#504385;
 opacity: 1;
transition: opacity 0.3s ease;
}/* Firefox 19+ */
:-moz-placeholder {
color:#504385;
 opacity: 1;
transition: opacity 0.3s ease;
}/* Firefox 18- */
:-ms-input-placeholder {
color:#504385;
 opacity: 1;
transition: opacity 0.3s ease;
}
.input_2::-webkit-input-placeholder {
 color:#fff;
}
 .input_2::-moz-placeholder {
 color:#fff;
}/* Firefox 19+ */
 .input_2:-moz-placeholder {
 color:#fff;
}/* Firefox 18- */
 .input_2:-ms-input-placeholder {
 color:#fff;
}
:focus::-webkit-input-placeholder {
opacity: 0;
transition: opacity 0.3s ease;
}
:focus::-moz-placeholder {
opacity: 0;
transition: opacity 0.3s ease;
}
:focus:-moz-placeholder {
opacity: 0;
transition: opacity 0.3s ease;
}
:focus:-ms-input-placeholder {
opacity: 0;
transition: opacity 0.3s ease;
}
.div_radio {
	color: #BDBDBD;
	margin-top: 20px;
	font: 12px/17px 'Museo Sans Cyrl 500';
}
.div_check input {
	display: none;
}
.div_check label {
	font-size: 17px;
	line-height: 17px;
	padding-left: 27px;
	background: url(../images/check.png) no-repeat left 2px;
	color: #fff;
	transition: color 0.3s ease;
	cursor: pointer;
}
.div_check input:checked + label {
	background-position: 0 -61px;
}
/*-----------------------------FOOTER-----------------------*/

.footer {
	clear:both;
	overflow:hidden;
	position:relative;
	color:#757575;
	padding: 50px 4.5%;
	font-size: 16px;
	line-height: 23px;
	margin-top: -123px;
}
.footer.footer_notop {
	margin: -123px 0 0 263px;
	padding:0;
	max-width: 1657px;
	box-sizing: border-box;
}
.footer_padding {
	padding: 50px 4.5%;
	overflow:hidden;
}
.footer.footer_home {
	color:rgba(203, 191, 239, 0.35)
}
.footer a {
	color: #292244;
	transition: color 0.3s ease
}
.footer.footer_home a {
	color: #FFFFFF;
}
.footer a:hover, .footer.footer_home a:hover {
	color: #E0723D;
	text-decoration: underline;
}
.copy {
	float: left;
}
.link_footer {
	float: right;
}
.link_footer a {
	margin-left: 30px;
}
/*---------------------------popap--------------------------*/
.body_mask {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(41, 34, 68, 0.5);
	z-index:9000;
	display: none;
}
.div_popap {
	position:absolute;
	top:50px;
	left:50%;
	margin-left:-225px;
	background:#fff;
	z-index:9002;
	width:450px;
	padding:45px 50px;
	text-align:left;
	box-sizing: border-box;
	display: none;
	border-radius:7px;
}
.div_popap.ok_popap {
	display: none;
	text-align: center;
	color: #292244;
	font: 26px/34px 'Museo Sans Cyrl 500';
	padding: 45px 0 55px;
}
.div_popap h3 {
	font:  26px/30px 'Museo Sans Cyrl 500';
	color: #1f1938;
	margin-bottom: 20px;
}
.close {
	position:absolute;
	top:12px;
	right:12px;
	display:block;
	width: 14px;
	height: 14px;
	cursor:pointer;
	background: url(../images/close.svg) no-repeat;
	transition: all 0.3s ease;
}
.video_popap {
	padding-bottom: 1em;
}
.video_popap iframe {
	width: 100%;
}
/*-------------------------------------------------------*/
@media (max-width: 1196px) {
body {
min-width:auto;
}
.container {
width:100%;
padding:0 0px;
}
}
/*----------------------------------------------------------*/
@media (max-width: 799px) {
}
