

@media (max-width: 1200px) {
.content {padding: 80px 0;}
.pagetitle {font-size: 36px; line-height: 44px; margin: 0 0 25px;}
.formWrap .pagetitle {font-size: 42px; line-height: 51px;}
.navmenu li {margin: 0 0 20px;}

.firstScreen_box {height: 700px; padding-top: 322px;}
.firstScreen_text {width: 560px; margin: 0 auto; line-height: 22px; font-size: 16px;}
.firstScreen_text h2 {line-height: 39px; font-size: 28px; max-width: none; margin: 0 0 10px;}
.firstScreen_text .txt {margin: 0 0 30px;}
.firstScreen_text small {line-height: 17px; font-size: 12px; max-width: 210px; margin: 9px 0 0;}

}


@media (max-width: 992px) {
body {line-height: 22px; font-size: 16px;}
.headNav .js_callwin {margin-right: 40px;}
.btnTel {display: none;}

.firstScreen .owl-dots {position: absolute; left: 0; bottom: 20px; width: 100%;}
.firstScreen_box {height: 500px; padding-top: 222px;}
.firstScreen_text {width: 470px;}

.advantages {margin-bottom: 50px;}
.scheme {margin: 0 0 30px; min-height: 230px;}
.scheme_num {display: none;}
.scheme_num2 {display: block;}
.scheme_name:before {content: none; display: none;}
.videowrap {background-size: cover; height: 320px;}
.videowrap .play {height: 84px; padding: 0; width: 84px;}
.videowrap .play b {display: none;}

.dream, .dream.dream-sm {height: 354px;}
.dream_name {line-height: 23px; font-size: 18px;}

.formWrap {padding: 80px 0; height: auto; background-size: cover;}
.instTitle h2 {float: none;}
.instTitle_rt {display: none;}
.instaphotos .last {display: block;}

.mapWrap {background-size: cover; height: 450px; padding: 0; position: relative; margin-top: 220px;}
.mapWrap .mapForm {position: absolute; left: 50%; margin-left: -220px; bottom: 50%;}
.mapWrap iframe {height: 450px;}

.footAddress {display: block;}
.footAddress:after {content: ''; clear: both; display: block;}
.footLink, .footAddress .social {float: left; width: 33.3333333%; padding-right: 20px; display: block;}
.footLink {margin: 10px 0 0;}
.footLink.footLink-address {width: 100%; padding-right: 0; margin: 0 0 40px;}
.footLink.footLink-address br {display: none;}

.copyright .cop-left {float: none; margin: 0 0 25px;}
.copyright .cop-right {float: none; margin: 0;}
.copyright .cop-right:after {content: ''; clear: both; display: block;}
.copyright .cop-right span {margin: 0;}
.copyright .cop-right span.lt {float: left;}
.copyright .cop-right span.rt {float: right;}

}


@media (max-width: 768px) {
.content {padding: 60px 0;}
.pagetitle {font-size: 24px; line-height: 29px; margin: 0 0 20px;}
.header .logobox {margin: 0 0 10px;}
.header .logobox img {width: 167px;}
.headText {line-height: 20px; font-size: 14px; max-width: 220px;}
.headLogo {margin-top: 20px;}
.js_callwin {display: none;}
.firstScreen .header {padding: 0 15px;}
.headNav {margin: 25px 0 0;}
.headNav .showNav {margin: 0;}


.navmenu {
	li {margin: 0 0 15px; font-size: 18px; line-height: 20px;}
	li:last-child {margin: 0;}
	li a {
		padding: 0 20px; color: #fff; text-decoration: none; position: relative;
		&:before, &:after {top: 1px;}
	}
}


.firstScreen_box {padding-top: 145px;}
.firstScreen_text {width: auto; margin: 0; line-height: 22px; font-size: 16px;}
.firstScreen_text h2 {line-height: 31px; font-size: 22px;}
.firstScreen_text small {line-height: 17px; font-size: 12px; max-width: 220px; margin: 0; float: none; text-align: left;}
.firstScreen_text .btn {float: none; display: block; margin: 0 auto 30px; width: 200px;}
#fs_slider .owl-nav {display: none !important;}
#fs_slider .owl-dots {display: block !important;}

.advantages {margin-bottom: 45px;}
.advant {margin: 0 0 15px;}
.scheme {margin: 0 0 15px; min-height: 0;}
.schemes .col-lg-3:last-child .scheme {margin: 0;}
.scheme_name {max-width: 140px;}
.scheme_txt {display: none; overflow: visible; height: auto;}
.scheme .btn {position: relative; left: auto; right: auto; bottom: auto; margin: 20px 0 0;}
.scheme_more {display: block;}

.dream {margin: 0 0 15px;}
.dream, .dream.dream-sm {height: 200px;}
.dream_name {line-height: 21px; font-size: 16px;}

.formWrap {padding: 60px 0;}
.formWrap .pagetitle {font-size: 24px; line-height: 29px; margin: 0 0 20px;}
.formWrap p {line-height: 22px; font-size: 16px; margin: 0 0 30px;}
.formWrap_form {max-width: none; margin: 0; display: block;}

.revews_slider_out {margin-bottom: 60px;}
#partners_slide {margin: 0 0 60px;}
#partners_slide .owl-nav {display: none !important;}
.instTitle .pagetitle {font-size: 24px; line-height: 29px;}

.mapWrap .mapForm {width: 290px; margin-left: -145px; padding: 25px;}

.footLink, .footAddress .social {float: none; width: auto; padding-right: 0; margin: 0 0 30px;}
.footLink.footLink-address {margin: 0 0 25px;}
.footAddress .social {margin: 0;}
.copyright .cop-right span.lt {float: none; margin: 0 0 15px; display: block;}
.copyright .cop-right span.rt {float: none; display: block;}

.modal {padding: 20px;}
.modal#confwin p {font-size: 12px; line-height: 14px;}
.modal#confwin .pagetitle {font-size: 18px; line-height: 20px;}


.navmenu {
	position: absolute; padding-top: 160px; bottom: auto; padding-bottom: 100px;
}


}


@media screen and (max-width: 500px) {
	.content.mbpad0 {padding-bottom: 0;}
	.instaphotos {display: none;}
	.instaphotos img {margin: 0 0 15px;}
	.instslider_outer {display: block;}
}















