@import "compass/reset";
@import "compass/utilities/sprites";
@import "retina-sprites";

$spr-sprite-dimensions: true;
$sprites: sprite-map('spr/*.png', $spacing: 20px);
$sprites2x: sprite-map('spr-retina/*.png', $spacing: 40px);

/* @include retina-sprite(icon-name, $hover: true, $active: true); */
/* icon_name_hover & icon_name_active */


$or: #ef7f1a;
@mixin clr { &:after {content: ''; clear: both; display: block;} }
@mixin bx {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
@mixin bf {content: ''; display: block; position: absolute;}
@mixin br($rad) {border-radius: $rad; -moz-border-radius: $rad; -webkit-border-radius: $rad;}
@mixin shad($shad) {-webkit-box-shadow: $shad; -moz-box-shadow: $shad; box-shadow: $shad;}
@mixin tb {display: table; width: 100%; border-collapse: collapse;}
@mixin cell {display: table-cell; vertical-align: middle;}
@mixin flex {display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex;}
@mixin anim($sec) {
    transition: all $sec ease-in-out;
    -moz-transition: all $sec ease-in-out;
    -webkit-transition: all $sec ease-in-out;
    -ms-transition: all $sec ease-in-out;
}
@mixin all {left: 0; top: 0; right: 0; bottom: 0;}
@mixin inp {
	-webkit-appearance: none;
	@include bx;
	margin: 0;
	outline: none;
}
@mixin uni {font-family: 'uni_sans_heavy_italic', sans-serif;}
@mixin gradg($from1,$to1) {
	background: $from1;
	background: -moz-linear-gradient(left, $from1 0%, $to1 100%);
	background: -webkit-linear-gradient(left, $from1 0%, $to1 100%);
	background: linear-gradient(to right, $from1 0%, $to1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from1', endColorstr='$to1',GradientType=1 ); 
}
@mixin gradv($from2,$to2) {
	background: $from2;
	background: -moz-linear-gradient(top, $from2 0%, $to2 100%);
	background: -webkit-linear-gradient(top, $from2 0%, $to2 100%);
	background: linear-gradient(to bottom, $from2 0%, $to2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from2', endColorstr='$to2',GradientType=0 );
}
@mixin fas {font-family: Font Awesome\ 5 Free; font-weight: 900;}


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic');

@font-face {
    font-family: 'uni_sans_heavy_italic';
    src: url('../fonts/uni_sans_heavy_italic.eot');
    src: url('../fonts/uni_sans_heavy_italic.eot') format('embedded-opentype'),
         url('../fonts/uni_sans_heavy_italic.woff2') format('woff2'),
         url('../fonts/uni_sans_heavy_italic.woff') format('woff'),
         url('../fonts/uni_sans_heavy_italic.ttf') format('truetype'),
         url('../fonts/uni_sans_heavy_italic.svg#uni_sans_heavy_italic') format('svg');
}




/* === Reset === */
html, body {height: 100%; min-height: 100%; margin: 0;}
body {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 23px;
	font-size: 16px;
	color: #757575;
	margin: 0;
}
img {border: 0; max-width: 100%;}
p {margin: 10px 0;}
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
a, input, textarea {outline: none;}
a {color: $or; text-decoration: underline;}
a:hover {color: $or; text-decoration: none;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
a:hover {text-decoration: none;}
table {width: 100%; border-collapse: collapse;}
.clear {clear: both; display: block;}


/* === Responsive grid === */
.clearfix, .container {@include clr;}
.text-center {text-align: center;}
.text-right {text-align: right;}




/* === FORMS === */
.styler {
	background: 0;
	border: 2px solid rgba(0,0,0,0.15);
	@include br(5px);
	@include inp;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	height: 42px;
	padding: 10px 15px;
	color: #000;
	&.error {border-color: $or;}
	&.success {border-color: #037703;}
	&:disabled {background: #fafafa; border-color: #f1f1f1; color: #bbb; cursor: default;}
	&:hover {border-color: rgba(0,0,0,0.3);}
	&:focus {border-color: rgba(0,0,0,0.55);}
}
.inpf {
	margin: 0 0 20px;
	.styler {width: 100%;}
	.errortxt {font-size: 12px; line-height: 14px; margin: 6px 15px 0; display: block; color: $or; text-align: left;}
}
.inpf-success {
	position: relative;
	&:before {content: '\f00c'; display: block; position: absolute; right: -30px; top: 9px; @include fas;
		font-size: 18px; color: #037703;}
}


/* === Button === */
.btn {
	@include gradg(#EF7F1A,#E85222);
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none; 
	border: 0;
	@include br(42px);
	@include inp;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 13px 25px;
	&:hover {
		// @include gradg(#E85222,#EF7F1A);
		background: $or;
		color: #fff;
	}
	&-border {
		color: #fff; background: 0;
		@include shad(inset 0 0 0 2px #fff);
		&:hover {@include shad(none);}
	}
}
input.btn {padding: 0 25px; height: 42px; line-height: 42px;}



/* === HELPERS === */
.pagetitle {
	@include uni;
	font-size: 42px;
	text-transform: uppercase;
	color: #454545;
	font-weight: normal;
	line-height: 51px;
	margin: 0 0 40px;
}
.content {background: url(../images/pattern.png) center 0; padding: 100px 0;}

.owl-prev, .owl-next {
	text-indent: -9999px;
	&.disabled {opacity: 0.35;}
}
.owl-prev {@include retina-sprite(prev);}
.owl-next {@include retina-sprite(next);}
.owl-dots {text-align: center; margin: 30px 0 0;}
.owl-dot {display: inline-block; width: 10px; height: 10px; @include br(50%); background: #e0e0e0; margin: 0 5px;}
.owl-dot.active {background: $or;}




/* Header */
.header {position: relative; z-index: 1001;}
.header .logobox {float: left; margin: 25px 50px 0 0;}
.headText {float: left; font-weight: 700; line-height: 29px; font-size: 24px; color: #fff; margin: 36px 0 0;}
.showNav {
	display: inline-block; position: relative; width: 36px; height: 24px;
	&:before {@include bf; @include retina-sprite(bars); left: 50%; top: 50%; margin: -12px 0 0 -18px;}
	&.opened {
		&:before {@include retina-sprite(bars-close); margin: -14px 0 0 -15px;}
	}
}
.btnTel {
	font-size: 18px; @include shad(inset 0 0 0 2px rgba(255,255,255,0.5)); padding-left: 57px; position: relative;
	&:before {@include bf; @include retina-sprite(phone); left: 0; top: 0;}
	&:hover {
		background: 0; @include shad(inset 0 0 0 2px rgba(255,255,255,1)); color: $or;
		&:before {@include retina-sprite(phone3);}
	}
}

.headNav {
	float: right; margin: 31px 0 0;
	.btn {float: left;}
	.btnTel {margin-right: 30px;}
	.js_callwin {margin-right: 60px;}
	.showNav {float: left; margin: 9px 0 0;}
}

@media screen and (max-width: 1520px) {
	.headLogo {float: left; margin: 25px 0 0;}
	.header .logobox {float: none; margin: 0 0 15px;}
	.headText {float: none; margin: 0; font-size: 16px; line-height: 23px; max-width: 250px;}
}



/* Navmenu */
.navmenu {
	background: rgba(0,0,0,0.8); position: fixed; @include all; z-index: 1000; @include flex; align-items: center;
	@include uni; line-height: 39px; font-size: 28px; text-transform: uppercase; color: $or; @include anim(200ms);
	justify-content: center; text-align: center; opacity: 0; visibility: hidden;
	&.opened {opacity: 1; visibility: visible;}
	ul {display: block;}
	li {margin: 0 0 30px;}
	li:last-child {margin: 0;}
	li a {
		display: inline-block; padding: 0 57px; color: #fff; text-decoration: none; position: relative;
		&:before, &:after {content: none; display: none; position: absolute; top: 9px;}
		&:before {@include retina-sprite(nx); left: 0;}
		&:after {@include retina-sprite(pr); right: 0;}
	}
	li:hover a {color: $or;}
	li.active a {
		&:before, &:after {content: ''; display: block;}
	}
}


/* Firstscreen */
.firstScreen {
	.header {position: absolute; width: 100%; left: 0; top: 0; @include bx; padding: 0 40px;}

	&_box {
		background-position: center center; background-repeat: no-repeat; height: 900px; position: relative;
		padding-top: 386px;
		&:before {@include bf; left: 0; top: 0; bottom: 0; right: 0; background-color: rgba(33,33,33,0.3);}
	}
	&_text {
		font-weight: 700; line-height: 39px; font-size: 28px; text-transform: uppercase; color: rgba(255,255,255,1);
		position: relative; z-index: 10;
		h2 {@include uni; line-height: 68px; font-size: 48px; margin: 0 0 20px; max-width: 760px;}
		.txt {margin: 0 0 60px;}
		.btn {float: left; margin: 2px 0 0;}
		small {
			font-weight: 700; line-height: 28px; font-size: 20px; text-align: right; display: block;
			text-transform: uppercase; color: rgba(255,255,255,0.6); float: right; max-width: 420px;
		}
	}
}
#fs_slider {
	.owl-prev, .owl-next {position: absolute; top: 50%; margin-top: -13px;}
	.owl-prev {@include retina-sprite(prevw); left: 68px;}
	.owl-prev:hover {@include retina-sprite(prevo);}
	.owl-next {@include retina-sprite(nextw); right: 68px;}
	.owl-next:hover {@include retina-sprite(nexto);}
	.owl-dots {display: none !important;}
}
@media screen and (max-width: 1400px) {
	#fs_slider {
		.owl-prev {left: 20px;}
		.owl-next {right: 20px;}
	}
}




/* orderBtn */
.orderBtn {
	position: relative; line-height: 20px; padding: 16px 25px; padding-left: 62px; position: relative;
	b {
		display: block; @include br(50%); width: 42px; height: 42px; 
		position: absolute; left: 5px; top: 5px; background: #F39E51;
		&:before {@include bf; @include retina-sprite(shirt); left: 10px; top: 11px;}
	}
}


/* Advant */
.advantages {margin-bottom: 70px;}
.advantages p {margin: 0 0 30px;}
.advant {
	position: relative; @include br(5px); height: 270px; margin: 0 0 30px; background-repeat: no-repeat;
	background-position: center center; background-size: cover;
	// &:before {@include bf; left: 0; top: 0; bottom: 0; right: 0; @include br(5px); background-color: rgba(33,33,33,0.5);}
	&_name {
		position: absolute; left: 25px; bottom: 25px; right: 25px; color: #fff;
		font-weight: 700; line-height: 25px; font-size: 18px; text-transform: uppercase;
	}
	&_num {
		position: absolute; right: 25px; top: 30px; color: #fff;
		font-weight: 700; line-height: 25px; font-size: 18px; text-transform: uppercase;
	}
	&_icon {
		position: absolute; left: 25px; top: 25px;
		&.ic1 {@include retina-sprite(ic1);}
		&.ic2 {@include retina-sprite(ic2);}
		&.ic3 {@include retina-sprite(ic3);}
		&.ic4 {@include retina-sprite(ic4);}
		&.ic5 {@include retina-sprite(ic5);}
		&.ic6 {@include retina-sprite(ic6);}
	}
}


/* Scheme */
.scheme {
	background: #fff; min-height: 270px; @include shad(0px 5px 15px rgba(0,0,0,0.1)); position: relative;
	@include br(5px); @include bx; padding: 25px; line-height: 21px; font-size: 15px;
	&_name {
		@include uni; line-height: 24px; font-size: 17px; color: #454545; margin: 0 0 15px; position: relative;
		&:before {@include bf; @include retina-sprite(rarr); right: 0; top: 4px;}
		&.check:before {@include retina-sprite(succ);}
	}
	&_num {line-height: 162px; text-align: center; @include uni; font-size: 135px; color: #eee;}
	&_num2 {@include uni; display: none; position: absolute; right: 25px; top: 14px; line-height: 72px; font-size: 51px;
		color: #eee;}
	.btn {display: block; position: absolute; left: 25px; right: 25px; bottom: 25px;}
	&_more {display: none; line-height: 21px; font-size: 15px; margin: 0;}
	&_txt.over {overflow: hidden; max-height: 84px;}
}


/* Videowrap */
.videowrap {
	background: url(../images/videobg.jpg) center 0 no-repeat; height: 750px; position: relative;
	overflow: hidden;
	.play {
		font-weight: 700; line-height: 31px; font-size: 22px; text-transform: uppercase; color: #fff;
		text-decoration: none; position: relative; padding-top: 115px; display: inline-block;
		position: absolute; left: 50%; top: 50%;
		transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		span {
			width: 84px; height: 84px; @include gradg(#EF7F1A,#E85222); position: absolute;
			@include shad(0px 4px 4px rgba(0,0,0,0.1)); display: block; @include br(50%);
			left: 50%; top: 0; margin-left: -42px;
			&:before {@include bf; @include retina-sprite(play); top: 21px; left: 30px;}
			&:hover {@include gradg(#E85222,#EF7F1A);}
		}
		b {font-weight: 400;}
	}
	video {
		position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; 
		width: auto; height: auto; opacity: 2;
	}
}


/* Dreams */
.dreams {margin-bottom: 10px;}
.dream {
	height: 530px; position: relative; @include br(5px); background-position: center 0;
	background-repeat: no-repeat; margin: 0 0 30px; display: block; text-decoration: none;
	&.dream-sm {height: 250px;}
	&:before {@include bf; @include all; @include gradv(rgba(33,33,33,0),rgba(33,33,33,0.7)); @include br(5px);}
	&_hover {
		background: rgba(0,0,0,0.5); position: absolute; @include all; z-index: 2; @include br(5px); 
		display: block; @include anim(200ms); opacity: 0; visibility: hidden;
		&:before {@include bf; @include retina-sprite(zoom); left: 50%; top: 50%; margin: -20px 0 0 -20px;}
	}
	&_name {
		font-style: italic; font-weight: 700; line-height: 31px; font-size: 24px; color: #fff;
		position: absolute; left: 25px; bottom: 20px; right: 25px; display: block; z-index: 5;
	}
	&:hover .dream_hover {opacity: 1; visibility: visible;}
}


/* Formwrap */
.formWrap {
	background: url(../images/formbg.jpg) center 0 no-repeat; height: 670px; padding: 100px 0; 
	text-align: center; color: #fff;
	.pagetitle {font-size: 64px; line-height: 77px; margin: 0 0 20px; color: #fff;}
	p {margin: 0 0 30px; line-height: 25px; font-size: 18px;}
	&_form {max-width: 340px; margin: 0 auto;}
	small {display: block; font-size: 10px; line-height: 12px; a {color: #fff;} }
	.styler {background: #fff; border-color: #fff; @include shad(0 4px 4px rgba(0,0,0,0.1));}
	.styler.error {border-color: rgba(255,0,0,0.7);}
	.btn {margin: 10px 0 30px;}
	.btn:hover {background: #fff; color: $or;}
	.errortxt {color: #fff;}
}


/* Reviews */
.revews_slider_out {
	margin: 0 -15px 100px; position: relative;
	.owl-prev, .owl-next {position: absolute; top: 88px;}
	.owl-prev {left: -54px;}
	.owl-next {right: -54px;}
}
.review {
	background: #fff; @include shad(0 4px 15px rgba(0,0,0,0.15)); @include br(5px); margin: 15px 15px 25px; position: relative;
	border-bottom: 5px solid $or; min-height: 170px; padding: 25px; line-height: 22px; font-size: 16px;
	&:before {@include bf; border: 8px solid transparent; border-top: 8px solid $or; left: 67px; bottom: -21px;}
	&_date {line-height: 17px; font-size: 12px; color: #9E9E9E;}
	p {margin: 0 0 13px;}
	&_card {display: table; width: 100%; padding: 0 15px;}
	&_ava {
		display: table-cell; vertical-align: middle; width: 119px;
		img {@include br(50%); max-width: 100%;}
	}
	&_name {
		display: table-cell; vertical-align: middle; padding-left: 25px; line-height: 17px; font-size: 12px; 
		color: #9E9E9E;
		span {display: block; @include uni; line-height: 22px; font-size: 16px; color: #454545; margin: 0;}
	}
}


/* Partners */
#partners_slide {
	margin: 0 0 100px;
	.owl-prev, .owl-next {position: absolute; top: 50%; margin-top: -10px;}
	.owl-prev {left: -54px;}
	.owl-next {right: -54px;}
	.item img {width: auto; margin: 0 auto; display: block;}
}
@media (max-width: 1300px) {
	#partners_slide, .revews_slider_out {
		.owl-nav {position: absolute; right: 15px; top: -70px;}
		.owl-prev, .owl-next {position: relative; top: auto; left: auto; right: auto; margin: 0; display: inline-block;}
		.owl-prev {@include retina-sprite(prm); margin-right: 15px;}
		.owl-next {@include retina-sprite(nxm);}
	}
}
@media (max-width: 768px) {
	.revews_slider_out .owl-nav {top: -60px;}
}




/* Instaphotos */
.instslider_outer {display: none; margin: 0 0 280px;}
.instslider_outer .item {width: 260px;}
.instslider_outer .item img {width: auto; margin: 0 auto;}
.instaphotos {
	img {
		display: block; width: 100%; margin: 0 0 30px;
		@include shad(0 4px 15px rgba(0,0,0,0.15)); @include br(5px);
	}
	.last {display: none;}
}
.zoomlink {
	position: relative; display: block;
	&:before {@include bf; background: rgba(0,0,0,0.5); @include all; z-index: 2; @include br(5px);}
	&:after {@include bf; @include retina-sprite(zoom); left: 50%; top: 50%; margin: -20px 0 0 -20px; z-index: 3;}
	&:before, &:after {@include anim(200ms); opacity: 0; visibility: hidden;}
	&:hover {
		&:before, &:after {opacity: 1; visibility: visible;}
	}
}
.instTitle {
	margin: 0 0 40px; @include clr;
	.pagetitle {font-size: 32px; line-height: 39px; margin: 0; float: left;}
	&_rt {float: right; margin: 0;}
	span {display: inline-block; vertical-align: middle; margin: 0 30px 0 0; font-size: 18px; line-height: 22px;}
	.social {
		display: inline-block; vertical-align: middle;
		a {border-color: #e0e0e0;}
		a i {color: #757575;}
		a:hover {border-color: #757575;}
	}
}





/* mapWrap */
.mapWrap {
	// background: url(../images/map.jpg) center 0 no-repeat; 
	height: 659px; padding-top: 100px; position: relative;
	iframe {height: 659px; display: block; width: 100%; position: absolute; left: 0; top: 0; border: 0; padding: 0; margin: 0;}
}
.mapForm {
	background: #fff; width: 440px; @include shad(0 4px 15px rgba(0,0,0,0.15)); @include br(5px);
	border-bottom: 5px solid $or; padding: 50px 45px 45px; position: relative; z-index: 10;
	.pagetitle {line-height: 31px; font-size: 22px; text-transform: uppercase; color: #454545; margin: 0 0 5px;}
	p {line-height: 20px; font-size: 14px; color: #757575; margin: 0 0 20px;}
	.btn {margin: 30px auto; display: block;}
	small {font-size: 10px; line-height: 12px; text-align: center; color: #757575; display: block;}
}


/* Footer */
.footer {background: #555; padding: 50px 0 0;}
.copyright {
	border-top: 2px solid rgba(255,255,255,0.05); padding: 25px 0; @include clr; font-size: 14px;
	line-height: 17px; color: #757575;
	span {
		color: #9E9E9E; margin-right: 53px;
		&:last-child {margin-right: 0;}
		a {color: #9E9E9E;}
	}
	.cop-left {float: left;}
	.cop-right {float: right;}
}
.footAddress {@include flex; justify-content: space-between; align-items: center; margin: 0 0 50px;}
.footLink {
	font-style: italic; font-weight: 700; line-height: 26px; font-size: 16px; color: #fff;
	padding-left: 57px; position: relative;
	a {color: #fff; text-decoration: none;}
	span {
		position: absolute; display: block; left: 0; top: 50%; width: 42px; height: 42px; margin-top: -21px;
		border: 2px solid rgba(255,255,255,0.05); @include br(50%);
		&:before {@include bf;}
	}
	&-address {
		font-size: 14px; line-height: 20px;
		span:before {@include retina-sprite(pin); left: 12px; top: 10px;}
	}
	&-phone span:before {@include retina-sprite(phone2); left: 10px; top: 10px;}
	&-email span:before {@include retina-sprite(env); left: 10px; top: 12px;}
}
.social {
	a {
		display: inline-block; width: 42px; height: 42px; margin-right: 12px; text-align: center;
		border: 2px solid rgba(255,255,255,0.05); @include br(50%); position: relative;
		&:last-child {margin: 0;}
		i {font-size: 18px; color: #fff; line-height: 38px;}
		&:hover {border: 2px solid rgba(255,255,255,1);}
	}
}





/* Modal */
.modal {
	position: relative; width: 100%; max-width: 440px; display: none;
	&_close {@include retina-sprite(close); position: absolute; right: 15px; top: 15px;}
	.fancybox-close-small {display: none !important;}
}
.fancybox-bg {background: rgba(0,0,0,1);}
.fancybox-is-open .fancybox-bg {opacity: 0.7;}

.modal#confwin {
	max-width: 800px; font-size: 14px; line-height: 18px;
	.pagetitle {font-size: 24px; line-height: 28px; margin: 0 0 24px;}
}






